<%= simple_form_for @project, :html => { :multipart => true } do |f| %>
<% if @project.errors.any? %>
<div>
<% @project.errors.full_messages.each do |msg| %>
<ul>
<li><%= msg %></li>
</ul>
<% end %>
<% end %>
</div>
<div id = "form">
<%= f.input :title, :label => "Title" %>
<%= f.input :abstract, :label => "State your project in one line ",:input_html => {:size => '50x5'} %>
<%= f.input :description, :label => "Description", :input_html => {:size => '50x10'}%>
<%= f.input :pledge_amount, :label => "Enter Your Pledged Amount" %>
Choose Image:</br>
<%= f.file_field :photo %>
<%= f.submit "Submit Project"%>

<% end %>