= render 'header'
%section
  #photo
    =image_tag @project.photo.url(:thumb) 
  %h1
    Title: #{@project.title}
  %br/
  %p= @project.description
  %br/
  %p
    Fund Pledged: $ #{@project.pledge_amount}
    %br/
    received: $ #{@received}

  = link_to "Donate", new_project_donation_path(@project.id) 
  %br/
  %br/
  %br/
  = link_to "Back", :back


